body{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}


.container{
  background-color: grey; 
  background-position: cover;
}
.fur{
    
}
.fur ul li{
    padding: 0px 6px 8px 4px;
    justify-content: left;
    display: inline-block;
}
.log{
    float: right;
    position: relative;
    top: -50px;
    

}
.log ul li{
padding: 0px 6px 8px 4px;
justify-content: right;
display: inline-block;
}
#fix{
    color: crimson;
}
.the{
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-size: 500%;
margin-left: 5%;
}
.play{
    width: 5%;
    position: relative;
    top: 8px;
}
.shoes{
    float: right;
    position: relative;
    top: -600px;
    width: 50%;
    height: 500px;
    margin-top: 20%;
border-radius: 400px  0px 0px 490px;
    
    
}
.best{
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
position: relative;
top: 250px;
margin-left: 20%;
font-size: 300%;
}
#puma{
    width: 190%;
    height: 180px;
    position: relative;
    top: -25px;
    border-radius: 30px;
    background-image: linear-gradient(skyblue,purple);
    /* transform: rotateY(250deg); */
    
}
#men{
    margin-left: 75%;
    position: relative;
    /* top: -20px; */
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Tilt Warp', cursive;


}


#view{
    margin: 150%;
    margin-left: 80%;
    position: relative;
    top: -150px;
    width: 80%;
    background-color: crimson;
    color: white;
    
}
.now{
   /* width: 50%; */

}
#nike{
    width: 190%;
    /* height: 250px; */
    position: relative;
    /* top: -550px; */
    margin-left: 75%;
    border-radius: 15px;
    background-image: linear-gradient(skyblue,crimson);
}
#ni{
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Tilt Warp', cursive;
position: relative;
/* top: -750px; */
margin-left: 55%;
/* background-color: white; */
}
#running{
margin-left: 55%;
position: relative;
/* top: -750px; */
}
#vi{
margin-left: 55%;
position: relative;
top: -5px;
background-color: crimson;
color: white;

}
.adidas{
    width: 190%;
    position: relative;
    /* top: -970px; */
    margin-left: 155%;
    border-radius: 30px;
    background-image: linear-gradient(white,red);
    
}
.adi{
    /* float: right; */
    position: relative;
    /* top: -890px; */
    margin-left: 145%;
}
.run{
    /* float: right; */
    position: relative;
    /* top: -1090px; */
    
}
.no{
    position: relative;
    /* top:-1000px ; */
    background-color: crimson;
    color: white;
}
.collectionOf{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    
    grid-gap: 0.2rem;
    position: relative;
    /* bottom: 1900px; */
    
}
.collectionOf2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    
}
#features{
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Tilt Warp', cursive;
position: relative;
/* top: -810px; */
text-align: center;
font-size: 300%;
}
#kids{
    position: relative;
    top: -25px;
    margin-left: 5%;
    font-size: 200%;
}
#kids1{
    color: rgb(207, 36, 64);
}
#adi3{
    
}

.puma2{
    width: 20%;
}
.shoe3{
    width: 70%;
   transform: rotateY(45deg); 
   
}
.shoes4{
    width: 75%;
    /* transform: rotateY(300deg); */
}

.shoes5{
    width: 70%;
    /* transform: rotateY(250deg) */
}
.shoes6{
    width: 70%;
    /* transform: rotateY(250deg); */
}
.shoes7{
    width: 60%;
    /* transform: rotateY(300deg); */
}
.shoes8{
    width: 80%;
    /* transform: rotateY(45deg); */
}
.shoes9{
width: 70%;
/* transform: rotateY(150deg); */
}
.shoes10{
    width: 70%;
    transform: rotateY(45deg);
}
.shoes11{
    width: 20%;
    margin-left: 5%;
    position: relative;
    /* top: -1150px; */
    border-radius: 5px;
}
.shoes12{
    width: 20%;
    margin-left: 55%;
    position: relative;
    top: -509px;
    border-radius: 5px;
}
.shoes14{
    width: 60%;
    transform: rotateY(300deg);
}
.sh50{
position: relative;
top: -800px;
}
.person{
    margin-left: 25%;
    position: relative;
    top: -1150px;
}
.people{
    margin-left: 45%;
    position: relative;
    top: -1420px;
}
.many{
    margin-left: 65%;
    position: relative;
    top: -1700px;
}
.coming{
    
    position: relative;
    top: -1610px;
}
.mass{
    margin-left: 23%;
    position: relative;
    top: -1880px;
}
.copy{
    margin-left: 45%;
    position: relative;
    top: -2200px;
}
.carry{
    margin-left: 65%;
    position: relative;
    top: -2500px;
}
.se{
    text-align: center;
    position: relative;
    /* top: -2400px; */
    
}
.semo{
    width: 10%;
    padding: 12px;
    border-radius: 5%;
    background-color: white;
    color: crimson;
    border-color: crimson;
}
.arrive{
    text-align: center;
    position: relative;
    /* top: -2300px; */
    font-size: 300%;
}
.newarrive{
margin-left: 30%;
position: relative;
top: -250px;
}
.allnew{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-gap: 0.2rem;
    position: relative;
    top: 30px;
}
.specialO{
    margin-left: 80%;
    position: relative;
    top: -750px;
}
.test{
    position: relative;
    top: -700px;
}
.girl{
    width: 5%;
    border-radius: 65px;
    
}
.lorem{
    /* float: right; */
    position: relative;
    top: -650px;
    border: solid 0.1px;
    width: 60%;
    border-radius: 5%;

}
.subscribe{
    margin-left: 20%;
    position: relative;
    top: px;
    background-color:pink;
    width: 70%;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    display: grid;
    grid-template-rows: ;
    position: relative;
    bottom: 500px;
    background-color: palevioletred;
    
}




.to{
    margin-left: 5%;
    position: relative;
    top: 50px;
    
}
.enter{
    position: relative;
    top: -10px;
    width: 30%;
    margin-left: 30%;
    height: 50px;
    /* padding: 5px; */
}
#sub{
    position: relative;
    top: -97px;
    border-radius: 5px;
    /* padding: 5px; */
    background-color: crimson;
    color: white;
    width: 20%;
    height: 50px;
    margin-left: 65%;
}




#testi{
    color: crimson;
    float: left;
}
#what{
    font-size: 300%;
float: left;
    position: relative;
    top: 55px;
    
}
#home1{
color: crimson;
}
.careers{
    background-color: crimson;
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-column-gap: 0.2rem;
    position: relative;
    bottom: 400px;
    background-color: crimson;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
 .footer2 ul li{
list-style: none;
 }  
 .footer3 ul li{
    list-style: none;
 } 
 .footer4 ul li{
    list-style: none;
 }
 .boxes2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
 }
 .collectionb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    position: relative;
    top: 300px;
 }
 .charge{
    margin-left: 305%;
    background-color: white;
 }
 .charge2{
    margin-left: 190%;
    
 }
.love{
    position: relative;
    bottom: 120px;
}
.love1{
    position: relative;
    bottom: 150px; ;
}
.love2{
    position: relative;
    bottom:215px ;
}
.love3{
    position: relative;
    bottom: 203px; ;
}
.love4{
    position: relative;
    bottom: 130px; ;
}
.love5{
position: relative;
bottom: 230px;
}
.love6{
    position: relative;
bottom:200px ;
}
.love7{
position: relative;
bottom: 245px;
}
.adidas1{
  background-color: white;
  position: relative; 
  top: -35px; 
  border-radius: 5px;
    
}
#bag{
    margin-right:105% ;
}
#bag1{
    margin-right:90% ;
}
#bag2{
    margin-right: 80%;
}
#bag3{
    margin-right: 60%;
}
#bag4{
    margin-right: 105%;
}
#bag5{
    margin-right: 90%;
}
#bag6{
    margin-right: 80%;
}
#bag7{
    margin-right: 60%;
}
.adidas2{
    position: relative;
    bottom: 10%;
    border: solid;
    background-color: white;
    border-style: hidden;
    border-radius: 5px;
}
.adidas3{
    position: relative;
    bottom: 10%;
border: solid;
background-color: white;
border-style: inherit;
border-radius: 5px;
}
.adidas4{
    position: relative;
    bottom:10% ;
    border: solid;
    background-color: white;
    border-style: initial;
}
.adidas5{
    position: relative;
    bottom: ;
    border: solid;
    background-color: white;
    border-style: hidden;
    border-radius: 5px;
}
.adidas6{
    position: relative;
    bottom: ;
    border: solid;
    background-color: white;
    border-style: hidden;
    border-radius: 5px;
}
.adidas7{
    position: relative;
    bottom: ;
    border: solid;
    background-color: white;
    border-style: hidden;
}
.adidas8{
    position: relative;
    bottom: ;
    border: solid;
    background-color: white;
    border-style: hidden;
    border-radius: 5px;
}
.page2{
    /* background-color: crimson; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr ; */
    /* grid-gap: 2fr; */
    /* margin-right: 150%; */
}
.nav1{
    float: left;
    position: relative;
    bottom: 350px;
}
.nav1 ul li{
    padding: 0px 6px 4px 8px;
    justify-content: left;
    display: inline-block;
    
}
.nav2{
display: flex;
    position: relative;
    right: -36%;
    bottom: 350px;
}
.nav2 ul li{
    padding: 0px 6px 4px 8px;
    justify-content: right;
    display: inline-block;
}
.greater{
    display: inline-block;
    transform: rotate(90deg);
}
.airforce{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    position: relative;
    /* left: 10px; */
    bottom: 260px;
    /* background-color: white; */

}



.homeshoes{
    float: left;
   position: relative; 
   bottom: 350px;
}
.homeshoes ul li{
    justify-content: left;
    display: inline-block;
    /* position: relative; */
    /* bottom: 200px; */
}
#airforce1{
    width: 80%;
position: relative;
top: 10px;
left: 5%;
background-color: white;

}
#airforce2{
    width: 20%;
    position: relative;
    /* top: 30px; */
}
#airforce3{
width: 20%;
background-color: white;
}
#airforce4{
    width: 20%;
    position: relative;
    /* left:  300px; */
    /* bottom: 65px; */
}
.airforces{
    background-color: white;
    position: relative;
    right: 120px;
}
.minimal{
    position: relative;
    right: 20%;
}
#similars{
    font-size: 180%;
    position: relative;
    left: 30%;
    bottom: 150px;
}
.variety{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    position: relative;
    bottom: 80px;
}
#fila1{
    width: 50%;
}
.fila2{
    width: 50%;
}
.fila3{
    width: 50%;
}
.fila4{
    width: 50%;
}
.variety1{
background-color: white;
position: relative;
left: 5%;
}
.variety2{
background-color: white;
}
.variety3{
background-color: white;
}
.variety4{
background-color: white;
margin-right: 7%;
}
.app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    background-color: crimson;
}
.footera {
list-style: none;
}
.footerb ul li{
    list-style: none;
}
.footerc ul li{
    list-style: none;
}
.footerd ul li{
    list-style: none;
}
.heart{
    position: relative;
    bottom: 90px;
}
.heart1{
    position: relative;
    bottom: 110px;
}
.heart2{
    position: relative;
    bottom: 80px;
}
.heart3{
position: relative;
bottom: 100px;
}
#minimen{
    color: crimson;
}
#sizec{
    color: crimson;
}
.s{
    border: solid;
    border-radius: 15px;
    background-color: white;
    border-style: none;
}
.ordernow{
    border: solid 0.8px;
    border-color: crimson;
    padding: 3%;

}
.cart{
    background-color: crimson;
    color: white;
    padding: 3%;
}
/* [class*="col-"] */

@media screen and(max-width:768px){
    body{
        color: blue;
    }
    .fur{
        width: 50%;
    }
    .log{
        display: flex;
        justify-content: space-between;
        position: unset;
        /* top: -50px; */
    }
}